.section-main {
    padding:15px;
    .tableHeader{
        margin-top:10px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        border:1px solid rgb(211, 211, 211);
        background-color:rgb(231, 231, 231);
    }
    .orderRow>div{
        height: 40px;
        width:20%;
        text-align: center;
        display: inline-block;
        border:1px solid rgb(211, 211, 211);
        line-height: 40px;
    }
}
